{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    
    {% if allabsence %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

    <table class="table table-hover">
      <tr>
          <td>  {{ _('User') }} </td>
          <td>  {{ _('Status') }}  </td>
          <td>  {{ _('Start') }} </td>
          <td>  {{ _('Stop') }} </td>
          <td>  {{ _('Edit') }} </td>
      </tr>


      {% for absence in allabsence %}

      {% set absence_link %}
          <a href="{{ url_for('main.absence_edit', absence=absence.id) }}">
              {{ absence.id }}
          </a>
      {% endset %}

      {% set absence_start %}
              {{ absence.start.strftime("%Y-%m-%d %H:%M") }}
      {% endset %}

      {% set absence_stop %}
              {{ absence.stop.strftime("%Y-%m-%d %H:%M") }}
      {% endset %}

        <tr>
            <td>  {{ absence.username }}  </td>
            <td>  {{ absence.status }}  </td>
            <td>  {{ absence_start }} </td>
            <td>  {{ absence_stop }} </td>
            <td>  {{ absence_link }} </td>
        </tr>
        {% endfor %}
    </table>

    {% if allabsence %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}


    <hr>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

{% endblock %}
