{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if order == "desc" %}
  {% set order %}asc{% endset %}
{% else %}
  {% set order %}desc{% endset %}
{% endif %}

    {% if allabsence %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>

    <table class="table table-hover">
      <tr>
          <td><A HREF="{{url_for('main.absence_list', sort='user_id',      order=order)}}">   {{ _('User') }}   </A></td>
          <td><A HREF="{{url_for('main.absence_list', sort='status',       order=order)}}">   {{ _('Status') }} </A></td>
          <td><A HREF="{{url_for('main.absence_list', sort='start',        order=order)}}">   {{ _('Start') }}  </A></td>
          <td><A HREF="{{url_for('main.absence_list', sort='stop',         order=order)}}">   {{ _('Stop') }}   </A></td>
          <td><A HREF="{{url_for('main.absence_list', sort='id',           order=order)}}">   {{ _('Edit') }}   </A></td>
      </tr>


      {% for absence in allabsence %}

      {% set absence_link %}
          <a href="{{ url_for('main.absence_edit', absence=absence.id) }}">
              {{ absence.id }}
          </a>
      {% endset %}

        <tr>
            <td>  {{ absence.user.username }}  </td>
            <td>  {{ absence.status }}  </td>
            <td>  {{ absence_start }} </td>
            <td>  {{ absence_stop }} </td>
            <td>  {{ absence_link }} </td>
        </tr>
        {% endfor %}
    </table>

        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

 
    <hr>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

{% endblock %}
