{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}{{ _('Welcome to Inventorpy') }}{% endif %}
{% endblock %}

{% block navbar %}

<!-- navbar-fixed-top dont work ... -->
<nav class="navbar navbar-inverse ">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/">Team Planning</a>
   </div>
   {% if current_user.is_authenticated %}
  <div class="collapse navbar-collapse" id="myNavbar">
   <ul class="nav navbar-nav">
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.service_list') }}">{{ _('List Service') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.service_add') }}">{{ _('Add Service') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.user_list') }}">{{ _('List User') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('auth.register') }}">{{ _('Add User') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Work
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.work_list') }}">{{ _('List Work') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.work_add') }}">{{ _('Add Work') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">On-Call
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.oncall_list') }}">{{ _('List Oncall') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.oncall_add') }}">{{ _('Add Oncall') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Absence
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.absence_list') }}">{{ _('List Absence') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.absence_add') }}">{{ _('Add Absence') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Non Working Days
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.nonworkingdays_list') }}">{{ _('List Non Working Days') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.nonworkingdays_add') }}">{{ _('Add Non Working Days') }}</a></li>
         </ul>
     </li>

     <li class="nav-item"><a href="{{ url_for('main.ical_info') }}">{{ _('ICal Info') }}</a></li>
     <li class="nav-item"><a href="{{ url_for('main.work_add_month') }}">{{ _('Generate Month') }}</a></li>
     <li class="nav-item"><a href="{{ url_for('main.explore') }}">{{ _('Help needed') }}</a></li>
   </ul>
   {% endif %}

   <ul class="nav navbar-nav navbar-right">
       {% if current_user.is_anonymous %}
       <li class="nav-item"><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
       {% else %}
       <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Management
           <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li class="nav-item"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
             <li class="nav-item"><a href="{{ url_for('auth.change_password') }}">{{ _('Change Password') }}</a></li>
             <li class="nav-item"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
           </ul>
       </li>

       {% endif %}
   </ul>

 </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-left:5%;margin-right:5%;margin-top:70px">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1> {% if title %} {{ title }} {% else %}{{ _('Welcome to Team Plan') }}{% endif %}</h1>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
