{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Ical Info') }}</h1>

    <table class="table table-hover">
      <tr>
        <td>{{_('Ical URLs are private, please dont share')}}</td>
        <td>          <a href="{{ url_for('main.ical_reset_api_key')}}">
                      {{_('Set/reset user ical api key')}}</a>
        </td>
      </tr>
      <tr>
        <td>{{ _('user ical url')}}</td>

        <td>          <a href="{{ url_for('api.ical', api_user=user.username, username=user.username, api_key=user.api_key)}}">
                      {{_('user ical url')}}</a>
        </td>
      </tr>

      {% for s in services %}
      <tr>
        <td>{{ _('service ical url')}}</td>

        <td>          <a href="{{ url_for('api.ical', api_user=user.username, service=s.name, api_key=user.api_key)}}">
                      {{_('service %(service)s ical url', service=s.name)}}</a>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>{{ _('all ical url')}}</td>
        <td>          <a href="{{ url_for('api.ical', api_user=user.username, api_key=user.api_key)}}">
                      {{_('all ical url')}}</a>
        </td>
      </tr>


    </table>

{% endblock %}
