<div class="container">
    <p class="text-center mb-0">
        <a href="https://schema.crtsrv.se" target="_blank" class="text-decoration-none">
        <span class="text-muted">Team plan</span></a>
    </p>
    <p class="text-center mb-0">
        <a href="{{url_for('main.index')}}" class="small">Privacy Notice</a> |
        <a href="{{url_for('main.index')}}"  class="small">Terms of Service</a> |
        <a href="javascript:open_cookie_alert();" rel="nofollow" class="small text-bold">Cookie Settings</a>
    </p>
</div>
