{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    {{ _('Previous Month') }} {{ month_info['prev'] }}
                </a>
            </li>
            <li>
              <span aria-hidden="true">
                {{ month_info['this'] }}
               </span>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next Month') }} {{ month_info['next'] }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>


    <table class="table table-hover">
      <tr>
        <td>
            {{ _('Users') }}
        </td>
      {% if month_info['showabsence'] == "show" %}
        <td style="background: #AAAAAA">
      {% else %}
        <td>
      {% endif %}
          <a href="{{ url_for('main.index', month=selected_month, absence='show')}}">
            {{ _('Absence') }}    </a>
        </td>

    {% for user in users %}

      {% set user_link %}
        <a href="{{ url_for('main.index', month=selected_month, username=user.username) }}">
          {{ user.username }}
        </a>
      {% endset %}

      {%if month_info['selected_user'] == user.username %}
        <td style="background: #AAAAAA">
      {% else %}
        <td>
      {% endif %}
            {{ user_link }}          </td>

    {% endfor %}
      </tr>
      <tr>
        <td>
            {{ _('Services') }}
        </td>

    {% for service in services %}

      {% set service_link %}
        <a href="{{ url_for('main.index', month=selected_month, service=service.name) }}">
          {{ service.name }}
        </a>
      {% endset %}

            {%if month_info['selected_service'] == service.name %}
              <td style="background: #AAAAAA">
            {% else %}
              <td>
            {% endif %}
                <div style="background: {{service.color}}">
                  {{ service_link }}
                </div>
              </td>
    {% endfor %}
      </tr>

    </table>
    <table class="table table-hover">
      <tr>
        <td>  {{ _('Week no / Oncall') }} </td>
        <td>  {{ _('Monday') }} </td>
        <td>  {{ _('Tuesday') }}  </td>
        <td>  {{ _('Wednesday') }}  </td>
        <td>  {{ _('Thursday') }} </td>
        <td>  {{ _('Friday') }} </td>
        <td>  {{ _('Saturday') }} </td>
        <td>  {{ _('Sunday') }} </td>
      </tr>

      {% for week in month %}
        <tr>

<!-- week number + on call -->
          <td>
            <div class="list-group">

              {% for day in week %}
                {% if day['week_day'] == 1 %}
                  <a href="{{ url_for('main.oncall_add', month=selected_month, day=week[0]['display_day']) }}" class="list-group-item">
                    {{ _('Week:') }} {{ day['week'] }} {{_('Oncall:')}}
                  </a>
                {% endif %}

                {% for oc in day['oncall'] %}

                {% set start %}
                      {{ oc.start.strftime("(%Y-%m-%d)") }}
                {% endset %}
                {% set stop %}
                      {{ oc.stop.strftime("(%Y-%m-%d)") }}
                {% endset %}

                  <a href="{{ url_for('main.oncall_edit', oncall=oc.id) }}" style="background: {{oc.color}}" class="list-group-item">
                    <div class="text-nowrap"><h4 class="list-group-item-heading">{{ _('%(username)s @ %(service)s', username=oc.username, service=oc.service) }}</h4></div>
                    <div class="text-nowrap"><p class="list-group-item-text">{{ _('%(start)s - %(stop)s', start=start, stop=stop) }}</p></div>
                  </a>

                {% endfor %}
              {% endfor %}

          </td>


<!--  work  -->

          {% for day in week %}

            <td>

              <div class="list-group dropdown">
                {% if day['display_day']  %}
                  <a href="{{ url_for('main.work_add', day=day['display_day'], month=selected_month) }}" class="list-group-item">
                    {{ day['display_day'] }}
                  </a>
                {% endif %}
                  {% for w in day['work'] %}

                {% set hr_start %}
                      {{ w.start.strftime("(%H:%M)") }}
                {% endset %}
                {% set hr_stop %}
                      {{ w.stop.strftime("(%H:%M)") }}
                {% endset %}


                <a href="{{ url_for('main.work_edit', work=w.id) }}" class="list-group-item" style="background: {{w.color}}">
                  <div class="text-nowrap"><h4 class="list-group-item-heading"  id="text-nowrap">{{ _('%(username)s@%(service)s',
                                        username=w.username, service=w.service.name) }}</h4></div>
                  <div class="text-nowrap"><p class="list-group-item-text"  id="text-nowrap">{{ _('%(hr_start)s - %(hr_stop)s',
                                        hr_start=hr_start, hr_stop=hr_stop) }}</p></div>
                </a>


              {% endfor %}

<!-- non working days -->
              {% for nwd in day['nwd'] %}

              {% set nwd_start %}
                    {{ nwd.start.strftime("(%H:%M)") }}
              {% endset %}
              {% set nwd_stop %}
                    {{ nwd.stop.strftime("(%H:%M)") }}
              {% endset %}


              <a href="{{ url_for('main.nonworkingdays_edit', nwd=nwd.id) }}" class="list-group-item" style="background: {{nwd_color}}">
                <div class="text-nowrap"><h4 class="text-nowrap" id="text-nowrap">{{ _('%(name)s', name=nwd.name) }}</h4></div>
                <div class="text-nowrap"><p class="list-group-item-text  id="text-nowrap"">{{ _('%(start)s - %(stop)s', start=nwd_start, stop=nwd_stop) }}</p></div>

              </a>


              {% endfor %}

<!-- absence -->

              {% if month_info['showabsence'] == "show" %}

                {% for ab in day['absence'] %}

                  {% set ab_start %}
                    {{ ab.start.strftime("(%H:%M)") }}
                    {% endset %}
                    {% set ab_stop %}
                    {{ ab.stop.strftime("(%H:%M)") }}
                  {% endset %}


                  <a href="{{ url_for('main.absence_edit', absence=ab.id) }}" class="list-group-item" style="background: {{absence_color}}">
                    <div class="text-nowrap"><h4 class="text-nowrap" id="text-nowrap">{{ _('%(name)s@off', name=ab.username) }}</h4></div>
                    <div class="text-nowrap"><p class="list-group-item-text  id="text-nowrap"">{{ _('%(start)s - %(stop)s', start=ab_start, stop=ab_stop) }}</p></div>
                  </a>

              {% endfor %}

            {% endif %}


            </div>

            </td>
          {% endfor %}

      </tr>
      {% endfor %}
    </table>


    <h2>stats</h2>
    <table class="table table-hover">
      <tr>
        <td>    {{_('Username')}}          </td>
        {% for service in services %}
          <td>    {{ service.name }}          </td>
        {% endfor %}

        <td>    {{_('Total work shift')}}          </td>
        <td>    {{_('Total work hours')}}          </td>
        <td>    {{_('Total work percent')}}          </td>
        <td>    {{_('Oncall')}}          </td>
      </tr>


    {% for stat_user in stats %}
      <tr>
        <td>    {{ stat_user['username'] }}          </td>

        {% for service in services %}


          <td>
            <div style="background: {{service.color}}">
             {{ stat_user[service.name] }}
            </<div>
          </td>
        {% endfor %}

        <td>    {{ stat_user['user_all_work'] }}    </td>
        <td>    {{ stat_user['user_work_hrs'] }}    </td>
        <td>    {{ stat_user['user_work_percent'] }}    </td>
        <td>    {{ stat_user['oncall'] }}          </td>

    {% endfor %}
      </tr>
    </table>

    <table class="table table-hover">

      <tr>
        <td> {{ _('Working days in month') }}: </td>
        <td> {{ month_info['working_days_in_month'] }} </td>
      </tr>
      <tr>
        <td> {{ _('Non Working days in month') }}: </td>
        <td> {{ month_info['non_working_days_in_month'] }} </td>
      </tr>
      <tr>
        <td> {{ _('Working hours in month') }}: </td>
        <td> {{ month_info['working_hours_in_month'] }} </td>
      </tr>
    </table>

    <canvas id="chart" width="800" height="700"></canvas>

<hr>

debug:  <br>

selected_month: {{ month_info['selected_month'] }} <br>
selected_service: {{ month_info['selected_service'] }} <br>
selected_user: {{ month_info['selected_user'] }} <br>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>


<script>
  // bar chart data
  var barData = {
    labels : [
      {% for item in labels %}
       "{{ item }}",
      {% endfor %}
],

    datasets : [{
      fillColor: "rgba(151,187,205,0.2)",
      strokeColor: "rgba(151,187,205,1)",
      pointColor: "rgba(151,187,205,1)",
      data : [
        {% for item in values %}
           "{{ item }}",
          {% endfor %}
  ]
      }
    ]
  }

 // get bar chart canvas
 var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = {{max}}

 // draw bar chart
 new Chart(mychart).Bar(barData, {
   scaleOverride: true,
   scaleSteps: steps,
   scaleStepWidth: Math.ceil(max / steps),
   scaleStartValue: 0,
   scaleShowVerticalLines: true,
   scaleShowGridLines : true,
   barShowStroke : true,
   scaleShowLabels: true
   }
 );

</script>
</center>
{% endblock %}
