{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if allwork %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

    <table class="table table-hover">
      <tr>
          <td>  {{ _('User') }} </td>
          <td>  {{ _('Service') }}  </td>
          <td>  {{ _('Status') }}  </td>
          <td>  {{ _('Start') }} </td>
          <td>  {{ _('Stop') }} </td>
          <td>  {{ _('Edit') }} </td>
      </tr>


      {% for work in allwork %}
      {% set user_link %}
          <a href="{{ url_for('main.work_list', username=work.username) }}">
              {{ work.username }}
          </a>
      {% endset %}
      {% set service_link %}
          <a href="{{ url_for('main.work_list', service=work.service.name) }}">
              {{ work.service.name }}
          </a>
      {% endset %}

      {% set work_link %}
          <a href="{{ url_for('main.work_edit', work=work.id) }}">
              {{ work.id }}
          </a>
      {% endset %}


        <tr>
            <td>  {{ user_link }}  </td>
            <td>  {{ service_link }}  </td>
            <td>  {{ work.status }}  </td>
            <td>  {{ work.start }} </td>
            <td>  {{ work.stop }} </td>
            <td>  {{ work_link }} </td>
        </tr>
        {% endfor %}
    </table>

    {% if allwork %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Prevoius') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

    <hr>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

{% endblock %}
