{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    <table class="table table-hover">
      <tr>
          <td>  {{ _('User') }} </td>
          <td>  {{ _('Service') }}  </td>
          <td>  {{ _('Status') }}  </td>
          <td>  {{ _('Start') }} </td>
          <td>  {{ _('Stop') }} </td>
          <td>  {{ _('Edit') }} </td>
      </tr>


      {% for work in allwork %}
      {% set user_link %}
          <a href="{{ url_for('main.work_list', username=work.username) }}">
              {{ work.username }}
          </a>
      {% endset %}
      {% set service_link %}
          <a href="{{ url_for('main.work_list', service=work.service.name) }}">
              {{ work.service.name }}
          </a>
      {% endset %}

      {% set work_link %}
          <a href="{{ url_for('main.work_edit', work=work.id) }}">
              {{ work.id }}
          </a>
      {% endset %}


        <tr>
            <td>  {{ user_link }}  </td>
            <td>  {{ service_link }}  </td>
            <td>  {{ work.status }}  </td>
            <td>  {{ work.start }} </td>
            <td>  {{ work.stop }} </td>
            <td>  {{ work_link }} </td>
        </tr>
        {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
          {% if prev_url %}
            <li class="previous">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Older') }}
                </a>
            </li>
            {% endif %}
            {% if next_url %}
              <li class="next">
                  <a href="{{ next_url or '#' }}">
                      {{ _('Newer') }} <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

{% endblock %}
